{% extends 'base.html' %}

{% block title %}
Document
{% endblock title %}

{% block content %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_object.all %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.receipts.all | length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock content %}
